
:root{
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #b040ff;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: var(--color-white);
    display: flex;
}
.img_logo_header{
    width: 45px;
    border-radius: 20px;
    padding-top: 7px;
}
.header,.navegacao-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: black;
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    position: sticky;
    top: 0;
    z-index: 9;
    box-shadow: 1px 1px 4px var(--color-dark4);
}
.navegacao-header{
    gap: 3em;
}
.navegacao-header a{
    text-decoration: none;
    color: var(--color-purple);
    transition: 1s;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.navegacao-header a:hover{
    color: var(--color-white);
    background: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}
.logo_header h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 23px;
    transition: 1s;
}
#spn{
    display: block;
    transition: 1s;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo_header:hover{
    color: #b040ff;
}
.conteiner-geral img{
    width: 100%;
    display: flex;
}
.texto-img:hover{
    color: var(--color-dark4);
    transform: translateX(10px);
}

.texto-img span{
    display: block;
}
.carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 40%;
    width: 38%;
    margin: auto;
    border-radius: 30px;
    margin-top: 35px;
}
#imgs{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
#imgs img {
   object-fit: cover;
   height: 100%;
   width: 100%;
}
#produto .virtus{
    margin-top: -35%;
    margin-left: 9%;
}
.agrupar{
    display: flex;
}
.informacoes img {
    display: block;
    max-width: 27%;
    margin: 10px;
    float: left;
    margin-left: 70%;
    margin-top: -35%;
}   
.indentificador{
    float: left;
    margin-left: 40%;
    margin-top: -140%;
}
@media(max-width:767px){
    .virtus img{
        width: 9%;
        margin-top: -70px;
    }
}
@media(max-width:574px){
    .virtus img{
        width: 9%;
    }
}
@media(max-width:767px){
    .carrossel{
        width: 50%;
        margin-left: 28%;
    }
}
@media(max-width:574px){
    .carrossel{
        width: 49%;
    }
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
#timerup{
    text-align: center;
    margin-top: 12% !important;
    margin-left: 30%;
    display: flex;
}
#timer{
    margin-left:5%;
    font-size: 65px;
    color: #ff0000;
}
#timerup button{
    width: 30%;
    letter-spacing: 1px;
    height: 40px;
    font: 20px arial;
    color: var(--color-white);
    background: var(--color-purple);
    border-radius: 20px;
}
#timerup h2{
    margin-left: 10%;
}
.parte-um {
    text-align: center;
    width: 110px;
    margin: 2px;
    margin-left: 47.5%;
}

.parte-um h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    transition: 1s;
}

#enterprise {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 1s;
}

.parte-um:hover{
    color: #b040ff;
}

.parte-dois {
    position: relative;
    width: 100%;
    margin: 50px 0 110px 0;
}

#endereco {
    margin: 30px 0 0 200px;
    color: #b040ff;

}

.endereco {
    margin: 10px 0 10px 180px;
}

.endereco li {
    list-style-type: none;
}

.redes {
    display: flex;
    float: right;
    position: absolute;
    bottom: 69px;
    margin-left: 84%;
    margin-top: 10px;
    margin-right: 180px;
}

#redes {
    color: #b040ff;
}

.redes img {
    max-width: 10%;
    display: flex;
    margin-top: 10px;
    margin-right: 50px;
}

#logo-linkedin {
  
    display: flex;
    float: right;
    position: absolute;
    bottom: -50px;
    margin-left: -28%;
    cursor: pointer;
}

#logo-youtube {
    max-width: 30%;
    display: flex;
    float: right;
    position: absolute;
    bottom: -46px;
    margin-left: 22%;
    cursor: pointer;
}

#logo-instagram {
    max-width: 40%;
    display: flex;
    float: right;
    position: absolute;
    bottom: -54px;
    margin-left: 70%;
    cursor: pointer;
}

.redes h4 {
    display: block;
}

.parte-tres {
    position: relative;
    width: 100%;
    margin: 50px 0 110px 0;
}

#atendimento {
    margin: 30px 0 0 200px;
    color: #b040ff;
}

.atendimento {
    margin: 10px 0 10px 180px;
}

.atendimento li {
    list-style-type: none;
}

#site-seguro1 {
    max-width: 20%;
    display: flex;
    float: right;
    position: absolute;
    bottom: 30px;
    margin-left: 70%;
    opacity: 50%;
}

#site-seguro2 {
    max-width: 13%;
    display: flex;
    float: right;
    position: absolute;
    bottom: -110px;
    margin-left: 74%;
    opacity: 50%;
}

footer h4 {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer li {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fim-rodape {
    text-align: center;
    font-size: 15px;
    margin: 20px;
}
@media(max-width:767px){
    .footer{
        width: 9%;
        margin-top: -70px;
    }
}
@media(max-width:574px){
    .footer{
        width: 9%;
    }
}











































.parte-um {
    text-align: center;
    margin: 40px;
}

.parte-dois {
    position: relative;
    width: 100%;
}

.endereco {
    margin: 30px;
}

.endereco li {
    list-style-type: none;
}

#redes {
    display: flex;
    float: right;
    position: absolute;
    bottom: 100px;
    margin-left: 79%;
}